// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

    .header {
      color: #fff;
      background: url("/../../assets/images/header-bg.jpg") center left fixed no-repeat;
      background-size: cover;
      height: 95em;
    }

    .header{
      h1{
        margin-top: 60px;
      }
    }
